/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image-page: url("../images/cover-image-light.png");
  --primary: #ff8dcb;
  --secondary: #ffc2e6;
  --tertiary: #353430;
  --text-primary: #353430;
  --text-secondary: #353430;
  --text-tertiary: #353430;
  --display-vision: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image-page: url("../images/cover-image-light.png");
    --primary: #ff8dcb;
    --secondary: #ffc2e6;
    --tertiary: #353430;
    --text-primary: #353430;
    --text-secondary: #353430;
    --text-tertiary: #353430;
    --display-vision: none;
  }
}
