/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font), sans-serif;
  font-weight: var(--weight-font-regular);
  font-size: var(--main-font-size);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image-page);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  block-size:100vh;
  gap: 10px;
}

.header::before {
  content: var(--text-content);
  position: absolute;
  top: 23px;
  right: 48px;
  display: var(--display-vision);
  color: var(--text-primary);
}

.header::after,
.footer::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--text-primary);
  border-left: 1px solid var(--text-primary);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu::after,
.footer::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  border-top: 1px solid var(--text-primary);
  border-right: 1px solid var(--text-primary);
  color: var(--text-primary);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu::before {
  content: "";
  position: absolute;
  top: 28px;
  right: 28px;
  z-index: 2;
  display: var(--display-vision);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--primary);
  color: var(--text-primary);
  background-color: var(--primary);
  inline-size: 8px;
  block-size: 8px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  block-size: min-content;
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  gap: 12px;
  min-inline-size: 225px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__theme-menu-button {
  border: none;
  padding: 2px 12px;
  color: var(--tertiary);
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1px;
  background-color: transparent;
  text-align: center;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--tertiary);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--tertiary);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--tertiary);
}

.title-decor {
  color: var(--text-tertiary);
  background-color: var(--primary);
}

.header__theme-title {
  color: var(--secondary);
  font-weight: var(--weight-font-bold);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--primary);
  block-size: min-content;
}

.header__theme-text {
  justify-self: flex-end;
  font-weight: var(--weight-font-bold);
  line-height: 130%;
  inline-size: 50%;
  max-inline-size: 491px;
  block-size: min-content;
  margin: 0 20px 0 0;

}

.main,
.footer {
  margin-top: 60px;
}

.main {
  padding: 0 20px;
}

.main-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main-section-title {
  color: var(--text-primary);
  font-size: var(--main-font-size);
  inline-size: 100%;
  margin: 0;
}

.main-content-title {
  margin: 0;
}

.main-section-list {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 4;
  margin: 0;
  gap: 20px;
  list-style: none;
}

.main-section-item {
  inline-size: 100%;
}

.main-content-text {
  color: var(--text-secondary);
  margin: 10px 0;
}

.padding-top-80 {
  padding-top: 80px;
}

.main-section-title-what {
  grid-column: 1 / span 1;
}

.main-content-what {
  grid-column: 1 / span 3;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.main-section-item-title {
  font-weight: var(--weight-font-regular);
}

.grid-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main-section-image-container {
  grid-column: 1 / span 3;
  block-size: 142vh;
  gap: 20px;
}

.image-section-title {
  grid-column: 1 / span 3;
}

.image-size-100 {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.image-sunset {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.image-books {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.image-ice-cream {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

.image-street {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.image-tape {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100vh;
}

.footer-title {
  color: var(--secondary);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0 var(--primary);
}

@media (height >= 1024px) {
  .header,
  .footer {
    min-block-size: 1024px;
  }
}

@media (height >= 768px) {
  .header,
  .footer {
    min-block-size: 768px;
  }
}

@media (height >= 668px) {
  .header,
  .footer {
    min-block-size: 668px;
  }
}

@media (width >= 768px) and (width < 1024px) {
  .main-section-item-what {
    grid-column: 1 / span 3;
  }
}

@media (width <= 768px) and (width >= 668px) {
  .main-section-item-what {
    grid-column: 1 / span 3;
  }
  .footer-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .header__theme-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
